<app-navbar></app-navbar>
<section>
  <section id="sec1" @fadeInOut class="d-flex align-items-center" style="height: 670px;">
    <div class="container">
      <div class="card mt-4 w-50 m-auto">
        <div class="card-body m-auto">
          <h2>Hello!</h2>
          <p style="line-height: 15px;"> My name is Parinya Thongtavee,you can call me Boss.</p>
          <p style="line-height: 15px;">I'm a web developer to design what are you want.</p>
          <p style="line-height: 15px;">Tell me if you are interested.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="sec2" class="fade-in-section" style="height: 670px">
    <div class="container" style="background-color: #FA5C65;height: 670px;border-radius: 10%;">
      <div class="card mt-4 w-50 m-auto">
        <div class="card-body m-auto" style="font-size: larger;font-weight: bold;">
          Cons
        </div>
      </div>
      <div class="circle-line" >
        <div>
          <div class="circle" style="margin-left: 100px;margin-right: 100px;">
            <i class="bi bi-hand-thumbs-up-fill" style="color: white;font-size: 60px;margin-left: 20px;"></i>
          </div>
          <span class="d-flex justify-content-center mt-2" style="color: white;font-size: larger;">Good quality</span>
          <p class="d-flex justify-content-center" style="color: white;">The work is reviewed as assigned.</p>
        </div>
        <div class="circle" style="margin-left: 100px;margin-right: 100px;">
        </div>
        <div class="circle" style="margin-left: 100px;margin-right: 100px;">
        </div>
      </div>

    </div>
  </section>
  <section id="sec3" class="fade-in-section" style="height: 670px;">
    <div class="container" style="background-color: #FD9A28;height: 670px;border-radius: 10%;">
      <div class="card mt-4 w-50 m-auto">
        <div class="card-body m-auto" style="font-size: larger;font-weight: bold;">
          Props
        </div>
      </div>
    </div>
  </section>
  <section id="sec3" style="height: 100px">
  </section>
</section>
